body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif !important;
}
div.nav {
  background-color: #ffffff57;
  transition: background-color 0.5s ease-in-out;
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding: 15px 10px;
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
  z-index: 999999;
}
.nav-links {
  display: flex;
}
div.nav-links a {
  margin: 0 25px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  cursor: pointer;
}
div.nav-links a:hover{
  color: #1B7CB4;
}
header, .container {
  max-width: 100%;
  overflow: hidden;
}

header {
  background: linear-gradient(to bottom, #bfffff, #a5ffff, #ecffff, #ffffff);
  text-align: center;
  height: 760px;
  position: relative;
  bottom: 100px;
  padding: 50px 0;
}
.myphoto {
  width: 650px;
  height: auto;
  margin-top: 100px;
  position: relative;
}
.h3_myprofile {
  font-family: "Source Sans 3", serif !important;
  font-size: 36px; 
  color: #1b7cb4;
  text-transform: uppercase;
}

.span_myprofile {
  font-size: 18px;
}
h3.h3_section_profile {
  text-align: center;
  margin-top: 140px;
  font-size: 35px;
  text-transform: uppercase;
}
h3.h3_section_project {
  text-align: center;
  margin-top: 40px;
  font-size: 35px;
  text-transform: uppercase;
}
div.row_section {
  text-align: justify;
  line-height: 2;
}
div.div_skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29%;
  padding: 20px 30px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  cursor: default;
}
div.skills_java {
  background-color: #87afc8;
}
div.skills_java:hover {
  background-color: #97b9ce;
}
div.skills_sql {
  background-color: rgb(157, 157, 157);
}
div.skills_sql:hover {
  background-color: rgb(186, 186, 186);
}
div.skills_php {
  background-color: #787b9e;
}
div.skills_php:hover {
  background-color: #a3a7d2;
}
div.skills_html {
  background-color: #ff9951;
}
div.skills_html:hover {
  background-color: #ffab6e;
}
div.skills_css {
  background-color: #58a5e4;
}
div.skills_css:hover {
  background-color: #73b0e2;
}
div.skills_js {
  background-color: #e0cc4c;
}
div.skills_js:hover {
  background-color: #b4a545;
}
p.p_about_me {
  text-align: center;
  margin: 0 32px;
  font-size: 17px;
}
section.section_profile {
  margin: 50px;
}
section.section_project {
  margin-top: 200px;
}
section.section_project img{
  cursor: pointer;
}
section.section_project p{
  text-align: justify;
}
footer{
  background-color: #a5ffff;
  margin-top: 30px;
}
div.footer{
  padding: 40px;
}
@media (max-width: 770px){
  .myphoto{
    width: 400px;
  }
  .h3_myprofile{
    font-size: 30px;
  }
  .span_myprofile{
    font-size: 15px;
  }
}
@media (max-width: 675px) {
  div.nav {
    width: 80%;
  }
}
@media (max-width: 500px) {
  div.nav {
    width: 95%;
  }
  .myphoto{
    width: 300px;
  }
  .h3_myprofile{
    font-size: 28px;
  }
  .span_myprofile{
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  div.div_skills {
    position: relative;
    right: 18px;
  }
  div.div_skills{
    width: 32%;
  }
}